@use 'mixins/mixins' as *;
@use 'common/var' as *;

@include b(popconfirm) {
  @include e(main) {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    padding: 4px 0 12px;
  }
  @include e(icon) {
    flex-shrink: 0;
    margin-top: 2px;
    font-size: 16px;
  }
  @include e(action) {
    text-align: right;
    margin-top: 4px;
  }
}
