@use 'mixins/mixins' as *;

@include b(time-spinner) {
  width: 100%;
  white-space: nowrap;
}

@include b(spinner) {
  display: inline-block;
  vertical-align: middle;
}
@include b(spinner-inner) {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #f4f4f5;
  animation: skeleton-zinc-pulse 1.5s ease-in-out infinite;

  & .path {
    display: none;
  }
}

// Keyframes removed as we use skeleton-zinc-pulse
