*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
}

[hidden] {
  display: none !important;
}
