@use 'mixins/mixins' as *;

@include b(time-spinner) {
  width: 100%;
  white-space: nowrap;
}

@include b(spinner) {
  display: inline-block;
  vertical-align: middle;
}
@include b(spinner-inner) {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--el-fill-color-light, #f4f4f5);
  box-shadow: inset 0 0 0 1px var(--el-border-color-lighter);
  animation: none;

  & .path {
    display: none;
  }
}
